@charset "UTF-8";

#mainContainer {
		margin: 0 auto;
		min-width: 300px;
		max-width: 470px;
	}
	
	#logoDiv {
		padding-top: 10%;
	}
	
	#logo {
		cursor: pointer;
	}
	
	.loginInputDiv {
		border: 1px solid #ccc;
		margin-top: 14px;
		height: 50px;
	}

	
	.loginInput {
		border: none;
		padding: 10px 7px;
		font-size: 11pt;
		width: 85%;
		height: 100%;
	}
	
	.iconBox {
		background-color: #fafafa;
		border-right: 1px solid #ccc;
		width: 23%;
		height: 100%;
	}
	
	.material-icons, .material-icons2 {
		font-size:27px; 
		color:#ccc;
		position: relative;
   		top: 5px;
   		right: 9px;
	}
	
	.radioText {
		margin: 0 3px 0 5px; 
		vertical-align: middle;
		position: relative;
		top: 7px;
		color: #757575;
	}
	
	.genderCheck {
		position: relative;
		top: 10px;
		left: 2px;
	
	}
	
	#interestDiv {
		margin: 20px 0;
		padding: 3px;
		
	}
	
	#interestTB {
		border: 1px solid #ccc;
		width: 100%;
	}
	
	
	#interestTH {
		text-align: center; 
		border-bottom: 1px solid #ccc;
		background-color: #fafafa;
		padding: 4px;
	}
	
	.interestBox {
		margin: 0 5px 0 15px;
	}
	
	.interestBtn {
		margin: 7px 5px;
		padding: 4px;
		width: 95%;
		color: black;
		text-align: center;
		font-size: 11pt;
		border: none;
		cursor: pointer;
	}
	
	#buttonDiv {
		margin: 30px 0 8px 0;
	}
	
	.btn {
		width: 100%;
		height: 48px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		border: none;	
	}
	
	#goRegisterBtn {
		background-color: #0074e9;
		color: white;
		font-size: 16pt;
	}
	
	#confirmDiv {
		font-size: 10pt;
		text-align: left;
	}
	
	#login_footer {
		margin: 18px 0 100px 0;
		font-size: 10pt;
		text-align: center;
		color: #555;
	}
	
	input:focus, button:focus {
		outline: none;	
	}
	
	.notice {
		font-size: 9pt;
		color: #d39e00;
		font-weight: bold;
		text-align: left;
		margin-left: -90px;
	}

	.hide {
		font-size: 9pt;
		font-weight: bold;
		text-align: left;
	}
	
	#error_id {	
		color: red;
		margin-left: -280px;
	}
	
	#error_pw {	
		color: red;
		margin-left: -183pt;
	}
	
	#error_pw2 {	
		color: red;
		margin-left: -200pt;
	}
	
	#success_id {	
		color: #0062cc;
		margin-left: -290px;
	}
	
	#success_pw2 {	
		color: #0062cc;
		margin-left: -308px;
	}
	
	#checkId {
		background: #ffc107;
	    color: white;
	    font-weight: bold;
	    border: none;
	    font-size: 11pt;
	    padding: 2pt 5pt;
	    width: 17%;
	}