<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>
</head>
<body>
<div style="margin: 0 auto; margin-top: 80px;">
	<img src="img/mycoupangLOGO.JPG" height="55px" width="174px"/>
	<div style="background-color: #ffffcc; height:500px; width:700px; " >
		<div style="padding:30px 0 0 240px; ">
			<img src="img/icon/mailIcon.png" height="200px" width="200px"/>					
		</div>
		
		<div>
			<div style="padding-left: 205px; font-family: 'Nanum Barun Gothic';"><h2>회원가입이 곧 완료됩니다!</h2></div>		
			<div style="padding-left: 147px; font-family: 'Nanum Barun Gothic';"><span>이메일 인증을 완료하면 정상적으로 로그인이 가능합니다.</span></div>	
			
			<button style="background-color:#ffe6cc; color: #8c8c8c; font-weight:bold; padding:7px 10px; font-size:13pt; border:none; margin: 50px 135px; width: 440px;">인증하고 마이쿠팡의 모든 서비스 이용하러 가기</button>
		</div>
	</div>


</div>
</body>
</html>