<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/login.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script> 
<title>로그인</title>

</head>
<body>
	<div id="mainContainer" align="center">
		<div id="logoDiv">
			<img src="img/mycoupangLOGO.JPG" width="220px" height="68px" onclick="location.href='main'" id="logo"/>
		</div>
		
		<div id="loginDiv">
			<div id="idDiv" class="loginInputDiv">
				<span class="iconBox"><i class="material-icons" style="">mail_outline</i></span>
				<span><input type="text" placeholder="아이디(이메일)" class="loginInput"/></span>
			</div>
		
			<div id="pwDiv" class="loginInputDiv">
				<span class="iconBox"><i class="material-icons">lock_outline</i></span>
				<span><input type="text" placeholder="비밀번호" class="loginInput"/></span>
			</div>
		</div>
		
		<div id="checkDiv">
			<span style="float:left"><input type="checkbox" id="loginCheck"/><label for="loginCheck">자동로그인</label></span>
			<span style="float:right"><a href="#">아이디(이메일)/비밀번호 찾기&nbsp;<b>></b></a></span>
		</div>
		
		<div id="buttonDiv">
			<button id="loginBtn" class="btn">로그인</button>
			
			<hr style="margin: 17px 0">
		
			<button id="registerBtn" class="btn" onclick="location.href='register'">회원가입</button>
		</div>
		
		<footer id="login_footer">©Coupang Corp. All rights reserved.</footer>
	</div>
</body>
</html>